/* For Download Button*/
.container {
    text-align: center;
}

.download-button {
    background-color: #4CAF50; /* Green color */
    color: white;
    font-size: 16px;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.download-button:active {
    background-color: #3e8e41; /* Even darker green when clicked */
}

.download-button:focus {
    outline: none; /* Remove focus outline */
}

.download-button1 {
    background-color: #4CAF50; /* Green color */
    color: white;
    font-size: 16px;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.download-button1:hover {
    background-color: #45a049; /* Darker green on hover */
}

.download-button1:active {
    background-color: #3e8e41; /* Even darker green when clicked */
}

.download-button1:focus {
    outline: none; /* Remove focus outline */
}


.container p {
    font-size: 14px;
    color: #777;
}
